h1 {
  text-align: center;
  font-size: var(--spacing-30);
}
h4 {
  text-align: center;
  font-size: var(--spacing-20);
  margin-bottom: var(--spacing-40);
}
article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: var(--spacing-20);
  box-sizing: border-box;
  align-items: flex-start;
}

article p {
  font-size: 17px;
  word-wrap: break-word;
  margin: 0;
  padding: var(--spacing-10);
  flex: 1 1 100%;
}

.environment {
  text-align: start;
}

/* Media query for screens over 600px */
@media (min-width: 601px) {
  article {
    flex-direction: row;
  }

  article p {
    flex: 1 1 50%;
    font-size: 17px;
  }
}

/* Media query for screens between 400px and 600px */
@media (max-width: 600px) and (min-width: 400px) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
  }

  article p {
    font-size: 14px;
    padding: var(--spacing-10);
    flex: 1 1 50%;
  }

  /* Media query for screens under 400px */
  @media (max-width: 400px) {
    article {
      flex-direction: column;
      height: auto;
      padding: var(--spacing-10);
      overflow: hidden;
    }

    article p {
      font-size: 14px;
      padding: var(--spacing-10);
      flex: 1 1 100%;
    }
  }
}
